/* src/Login.css */

.login-container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
  
.login-title {
  text-align: center;
  font-size: 2rem; /* Aumenté el tamaño del título */
  margin-bottom: 20px;
  color: #333;
}
  
form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin: 10px 0;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
  
.login-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Tamaño de fuente del botón */
  transform: scale(1);
}

.login-button:hover {
  background-color: #f2f5f7;
}


body.login-container-1 {
 background-color: #333;
 
}
body.login-body {
  background-image: url("https://previews.123rf.com/images/alicjane/alicjane1704/alicjane170400026/81072045-el-marco-colorido-del-oto%C3%B1o-con-las-frutas-del-oto%C3%B1o-en-el-fondo-de-madera-ca%C3%ADda-wallpaper.jpg");
}
