
/* Estilos para la descripción del producto */
.divContainer p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
}

/* Estilos para el contenedor del producto (tarjeta) */
.divContainer {
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 500px;
  text-align: center;
  font-size: small;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

/* Estilos para el título del producto */
.divContainer h3 {
  color: #333;
  margin: 10px 0;
}

/* Estilos para la imagen del producto */
img {
  
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 37%; /* Ajusta el ancho máximo según tus necesidades */
  height: 50px;
}

/* Estilos para el precio del producto */
.divContainer h3.price {
  color: green;
  margin-bottom: 10px;
}

/* Estilos para los botones del producto */
.divContainer button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 55%;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Ajusta la apariencia cuando se aplica hover a la tarjeta */
.divContainer:hover {
  transform: scale(1.05);
}

button:active {
  background-color: #152715;
  color: rgb(124, 95, 95);
  border: none;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  width: 55%;
  margin-bottom: 5px;
  transition: transform 0.7s ease-in-out, box-shadow 0.3s ease-in-out;
}