/* Estilos para el contenedor principal de la lista de productos */
.tituloContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  /* Estilos para el título de la lista de productos */
  .tituloContainer h2 {
    color: #333;
  }
  
  /* Estilos para la sección de la lista de productos */
  .productlist-container section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  
  /* Estilos para cada elemento de la lista de productos (cada producto) */
  .productlist-container section .divContainer {
    margin: 100px;
  }
  
  /* Estilos para la descripción del producto */
.divContainer p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
}

/* Estilos para el contenedor del producto (tarjeta) */
.divContainer {
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 630px;
  text-align: center;
  font-size: small;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

/* Estilos para el título del producto */
.divContainer h3 {
  color: #333;
  margin: 10px 0;
}

/* Estilos para la imagen del producto */
.divContainer img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

/* Estilos para el precio del producto */
.divContainer h3.price {
  color: green;
  margin-bottom: 10px;
}

/* Estilos para los botones del producto */
.divContainer button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 55%;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Ajusta la apariencia cuando se aplica hover a la tarjeta */
.divContainer:hover {
  transform: scale(1.05);
}

button:active {
  background-color: #152715;
  color: rgb(124, 95, 95);
  border: none;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  width: 55%;
  margin-bottom: 5px;
  transition: transform 0.7s ease-in-out, box-shadow 0.3s ease-in-out;
}
.search-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.search-container input {
  width: 70%; /* Ajusta el ancho según tus preferencias */
  padding: 10px; /* Ajusta el relleno según tus preferencias */
  font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
  text-align: center;
}